/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #517799 48%,  #2f5e86 25%, white 25%);
  background-repeat: no-repeat;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 120px;
  margin-top: 150px;
  
}

.left-container {
  position: relative;

}

.right-container {
  margin-left: 70px;
  
}

.text-div {
  background-image: url(../images/frame.png);
  width: 500px;
  height: 400px;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 2px;
  margin-top: 11px;
  padding-left: 50px;
  padding-top: 15px;
}

.h1 {
  color: #1c5380;
}


p{
  color: #919192;
  font-family: sans-serif bold;
 
 
}

.login-button {
  font-family: sans-serif;
  background-color: #517799;
  color: white;
  background: linear-gradient(to bottom ,#43759d 5%,  #5180a5 12%, #6993b3 10%);
  border: 6px #215681;
  box-shadow: transparent;
  padding: 10px 30px 10px 10px; 
  margin-left: 70px;
  position: relative;
  bottom: 30px;
}
.login-text {
  color: lightgray;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 5px;
}



footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -em;
  padding-top: 3em;
}

.footer-text {
  font-family: sans-serif;
  font-weight: bold;
  color: #517799;
  text-decoration: none;
  
}
.copyright {
  color: rgb(205, 211, 216);
  font-weight: bold;
  margin-left: 30px;
}


